body {
    background-color: bisque;
}

a {
    text-decoration: none;
    margin: 15px 15px 0 0;
    /* border: 1px solid; */
}

li {
    margin: 10px 0 10px 0;
}

.pokemon {
    border-style: none;
}