<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Pokemon App</h1>
    <a href="/users/signup">Sign Up</a>
    <a href="/users/login">log In</a>
</body>
</html>